site_name: Tinkoff Invest
site_url: https://tinkoff.github.io/invest-python/
site_description: 'Tinkoff Invest Python'

repo_name: 'invest-python'
repo_url: 'https://github.com/tinkoff/invest-python'

copyright: 'Copyright &copy; 2021 Tinkoff'

use_directory_urls: true
nav:
  - 'Главная': 'README.md'
  - 'Список изменений': 'CHANGELOG.md'
  - 'Участие в проекте': 'CONTRIBUTING.md'

theme:
  name: material
  language: ru
  palette:
    primary: black
    accent: yellow

plugins:
- search:
    lang: ru
- mkdocstrings:
    default_handler: python
    handlers:
      python:
        rendering:
          show_source: false
    watch:
      - tinkoff

extra_css:
  - custom.css

markdown_extensions:
  - admonition
  - codehilite
  - pymdownx.superfences
