name: CI Tests/Lints

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-ubuntu:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v4
        with:
          python-version: '3.8'

      - name: Install python dependencies
        run: make install-poetry install

      - name: Run linters
        run: make lint

      - name: Test docs
        run: make docs

      - name: Run test
        run: make test
        env:
          INVEST_SANDBOX_TOKEN: ${{ secrets.INVEST_SANDBOX_TOKEN }}

  build-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install make
        run: choco install make

      - name: Install python dependencies
        run: make install-poetry install

      - name: Run test
        run: make test
        env:
          INVEST_SANDBOX_TOKEN: ${{ secrets.INVEST_SANDBOX_TOKEN }}
